node_modules
dist
.env
.env.example
.vscode
.git
.gitignore
Dockerfile*
docker-compose*
.env*
init.sql
.dockerignore
.github
README.md
LICENSE
.editorconfig
coverage*
\*.log
# src  # Commented out - needed for build
