name: Lint & Build

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  lint-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run lint check
        run: bun run lint:typescript

      - name: Run prettier check
        run: bun run lint:prettier

      - name: Run build
        run: bun run build
